@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Set the thumb color to white */
  border-radius: 10px; /* Optional: round corners */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Custom scrollbar for Firefox */
html {
  scrollbar-color: white #f1f1f1; /* thumb color and track color */
}

html {
  scrollbar-width: thin; /* Make the scrollbar thin */
}
